.all-posts {
  background-color: $white;
  padding-bottom: 128px;

  @include mq(1240) {
    padding-bottom: 84px;
  }

  @include mq(991) {
    padding-bottom: 64px;
  }

  @include mq(768) {
    padding-bottom: 48px;
  }

  @include mq(480) {
    padding-bottom: 32px;
  }
}

.all-posts__items {
  display: flex;
  align-items: center;

  @include mq(991) {
    flex-direction: column;
  }
}

.all-posts__item {
  max-width: 960px;
  width: 100%;
  margin-right: 8px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  @include mq(991) {
    margin-right: 0;
    margin-bottom: 16px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    z-index: 1;
  }
}

.all-posts__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 650px;
  width: 100%;
  text-align: center;
  color: $white;
  z-index: 2;
}

.all-posts__btn-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: -260px;
  z-index: 20;

  @include mq(1540) {
    top: -220px;
  }

  @include mq(1300) {
    top: -180px;
  }

  @include mq(991) {
    display: none;
  }

  .swiper-button-disabled {
    color: $grey-light;

    svg {
      path {
        fill: $grey-light;
      }
    }
  }
}

.all-posts__btn-prev,
.all-posts__btn-next {
  @extend .lato-20-normal;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.all-posts__btn-next {
  flex-direction: row-reverse;
}

.all-posts__btn-next-arrow {
  margin-left: 25px;
}

.all-posts__btn-prev-arrow {
  margin-right: 25px;
}

@include mq(1921, min) {
  .all-posts {
    padding-bottom: 6.66667vw;
  }

  .all-posts__item {
    max-width: 50vw;
    margin-right: 0.41667vw;
  }

  .all-posts__title {
    max-width: 33.85417vw;
  }

  .all-posts__btn-box {
    top: -13.54167vw;
  }

  .all-posts__btn-next-arrow {
    margin-left: 1.30208vw;
  }

  .all-posts__btn-prev-arrow {
    margin-right: 1.30208vw;
  }
}
