.banner {
  background-image: url("/src/images/banner-menu.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: animationFadeOut1 2s forwards ease;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46));
  }
}

.banner__wrapper {
  position: relative;
  z-index: 20;
}

.banner__content {
  max-width: 780px;
  width: 100%;
}

.banner__content-title {
  margin-bottom: 50px;

  @include mq(991) {
    margin-bottom: 24px;
  }

  @include mq(480) {
    margin-bottom: 16px;
  }
}

/* BANNER CONTACT */

.banner-contact {
  background-image: url("/src/images/banner-contact.jpg");

  .banner__content {
    max-width: 915px;
    margin-bottom: 93px;

    @include mq(991) {
      margin-bottom: 48px;
    }

    @include mq(420) {
      margin-bottom: 24px;
      text-align: center;
    }

    .banner__content-title {
      @include mq(420) {
        justify-content: center;
      }
    }
  }
}

.banner__open-time {
  position: absolute;
  right: 140px;
  max-width: 696px;
  width: 100%;

  @include mq(1160) {
    right: 0;
    padding: 0 24px;
  }

  @include mq(768) {
    max-width: 350px;
  }

  @include mq(420) {
    position: unset;
    padding: 0;
  }
}

.banner__open-time-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38px;
  border-bottom: 2px dashed $white;
  padding-bottom: 38px;

  @include mq(991) {
    margin-bottom: 32px;
    padding-bottom: 32px;
  }

  @include mq(768) {
    margin-bottom: 24px;
    padding-bottom: 24px;
  }

  @include mq(480) {
    margin-bottom: 16px;
    padding-bottom: 16px;
  }

  @include mq(420) {
    flex-direction: column;
  }
}

.banner__open-time-top-title {
  @extend .rufina-32-bold;

  @include mq(420) {
    margin-bottom: 16px;
  }
}

.banner__open-time-top-text {
  @extend .lato-24-normal;
}

.banner__open-time-bottom-items {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(420) {
    flex-direction: column;
  }
}

.banner__open-time-bottom-item-text {
  @extend .lato-24-normal;
  display: block;

  @include mq(420) {
    margin-bottom: 16px;
  }
}

/* BANNER ABOUT */

.banner-about {
  background-image: url("/src/images/banner-about.jpg");

  .banner__content {
    max-width: 915px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
}

//BANNER SMALL
.banner--small {
  height: 850px;

  .banner__content {
    max-width: 1304px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}

//BANNER BLOGS ONE COLUMN

.banner-blogs-one-column {
  background-image: url("/src/images/banner-blogs-one-column.jpg");

  .banner__content {
    @include mq(1440) {
      align-items: flex-start;
    }
  }

  .banner__content-title {
    @extend .rufina-56-bold;
  }
}

/* BANNER SINGLE POST */

.banner-single-post {
  background-image: url("/src/images/banner-single-post.jpg");

  .banner__wrapper {
    transform: translateY(80px);
  }

  .banner__content-title {
    @extend .rufina-48-bold;
    justify-content: flex-start;
    width: 100%;
  }

  .banner__content {
    position: relative;
  }

  .blog-post__item-btn {
    top: -60px;
    left: 0;
    background-color: transparent;
    border: 2px solid $white;
    max-width: 203px;
    width: 100%;
  }

  .blog-post__content-top {
    width: 100%;
    color: $white;
    margin-bottom: 0;

    .blog-post__content-top-text {
      &::after {
        background-color: $white;
      }
    }

    .blog-post__content-top-img-box {
      max-width: 96px;
    }
  }
}

/* BANNER PORTFOLIO GRIDS */

.banner-portfolio-grids {
  background-image: url("/src/images/banner-portfolio-grids.jpg");

  .banner__content {
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}

@include mq(1921, min) {
  .banner__content {
    max-width: 40.625vw;
  }

  .banner__content-title {
    margin-bottom: 2.60417vw;
  }

  .banner-contact {
    .banner__content {
      max-width: 47.65625vw;
      margin-bottom: 4.84375vw;
    }
  }

  .banner__open-time {
    right: 7.29167vw;
    max-width: 36.25vw;
  }

  .banner__open-time-top {
    margin-bottom: 1.97917vw;
    border-bottom: 0.10417vw dashed $white;
    padding-bottom: 1.97917vw;
  }

  .banner-about {
    .banner__content {
      max-width: 47.65625vw;
    }
  }

  .banner--small {
    height: 44.27083vw;
    .banner__content {
      max-width: 67.91667vw;
    }
  }

  .banner-single-post {
    .banner__wrapper {
      transform: translateY(4.16667vw);
    }

    .blog-post__item-btn {
      top: -3.125vw;
      border: 0.10417vw solid $white;
      max-width: 10.57292vw;
    }

    .blog-post__content-top {
      .blog-post__content-top-img-box {
        max-width: 5vw;
      }
    }
  }

  .banner-portfolio-grids {
    .banner__content {
      max-width: 67.70833vw;
    }
  }
}
