.blog-post {
  background-color: $white;
  padding: 128px 0;

  @include mq(1240) {
    padding: 84px;
  }

  @include mq(991) {
    padding: 64px;
  }

  @include mq(768) {
    padding: 48px;
  }
}

.blog-post__wrapper {
  @include mq(1650) {
    padding: 0 48px;
  }

  @include mq(1330) {
    padding: 0 24px;
  }
}

.blog-post__items {
  display: flex;
  align-items: center;
  grid-gap: 60px;

  @include mq(1280) {
    flex-direction: column;
  }
}

.blog-post__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-post__item-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 7px 53px;
  background-color: $green;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 12px;
  right: 12px;
}

.blog-post__item-btn-text {
  @extend .rufina-26-bold;
  color: $white;
}

.blog-post__item-img-box {
  max-width: 792px;
  width: 100%;
  margin-bottom: 68px;
  position: relative;
}

.blog-post__content-box {
  max-width: 610px;
  width: 100%;
}

.blog-post__content-top {
  @extend .lato-18-normal;
  display: flex;
  align-items: center;
  color: $green;
  margin-bottom: 48px;

  @include mq(768) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
  }
}

.blog-post__content-top-img-box {
  max-width: 60px;
  width: 100%;
  margin-right: 14px;

  @include mq(768) {
    margin-right: 0;
    margin-bottom: 14px;
  }
}

.blog-post__content-top-text {
  position: relative;
  margin-right: 14px;
  display: inline-flex;
  align-items: center;

  @include mq(768) {
    margin-right: 0;
    margin-bottom: 14px;
  }

  &:last-child {
    margin-right: 0;

    &::after {
      display: none;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    margin-left: 14px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $green;

    @include mq(768) {
      display: none;
    }
  }
}

.blog-post__content-bottom {
  color: $black;
}

.blog-post__content-bottom-title {
  @extend .rufina-48-bold;
  margin-bottom: 36px;
  border-bottom: 4px dashed $black;
  padding-bottom: 18px;

  @include mq(768) {
    margin-bottom: 24px;
  }
}

.blog-post__content-bottom-text {
  @extend .lato-22-normal;
  margin-bottom: 46px;

  @include mq(768) {
    margin-bottom: 24px;
  }
}

.blog-post__content-bottom-btn-link {
  display: flex;
  align-items: center;
  color: $black;
  text-decoration: none;

  @include hover {
    .blog-post__content-bottom-btn-arrow {
      transform: translateX(30%);
    }
  }
}

.blog-post__content-bottom-btn-text {
  @extend .lato-24-normal;
  margin-right: 10px;
}

.blog-post__content-bottom-btn-arrow {
  width: 46px;
  height: 26px;
  transition: transform 0.3s;
}

/* BLOG POST ONE COLUMN */

.blog-post-one-column {
  .blog-post__items {
    flex-direction: column;
    grid-gap: 100px;

    @include mq(768) {
      grid-gap: 48px;
    }
  }

  .blog-post__item {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    @include mq(1530) {
      flex-direction: column;
    }
  }

  .blog-post__btn {
    @include mq(768) {
      width: 100%;
    }
  }

  .blog-post__item-img-box {
    margin-bottom: 0;
    margin-right: 24px;

    @include mq(1530) {
      margin-right: 0;
      margin-bottom: 24px;
    }
  }
}

/* BLOG POST TWO COLUMNS */

.blog-post__two-columns {
  .blog-post__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 60px;
  }

  .blog-post__item {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    @include mq(1300) {
      align-items: center;
      padding: 0 24px;
    }
  }

  .blog-post__button-box {
    display: flex;
    justify-content: center;
    transform: translateY(-10px);
  }

  .blog-post__button-prev {
    margin-right: 40px;
  }

  .blog-post__button-next {
    margin-left: 40px;
  }

  .blog-post__button-prev,
  .blog-post__button-next {
    @extend .lato-24-normal;
    color: $black;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 89px;
      height: 54px;
      border: 2px solid $black;
    }
  }

  .blog-post__pagination {
    @extend .lato-24-normal;
    color: $black;

    .swiper-pagination-bullet {
      margin-right: 40px;
      height: 54px;
      width: 54px;
      background-color: transparent;
      border: 2px solid $black;
      border-radius: 0;
      text-align: center;
      padding: 10px 20px;
      opacity: 1;

      &:last-child {
        margin-right: 0;
      }
    }

    .swiper-pagination-bullet-active {
      opacity: 0.5;
    }
  }

  .swiper-button-disabled {
    opacity: 0.5;
  }
}
