.comments-form {
  padding: 128px 0;
  background-color: $white;

  @include mq(1240) {
    padding: 84px 0;
  }

  @include mq(991) {
    padding: 64px 0;
  }

  @include mq(768) {
    padding: 48px 0;
  }

  @include mq(480) {
    padding: 32px 0;
  }
}

.comments-form__wrapper {
  max-width: 1393px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.comments-form__title {
  color: $black;
  text-align: center;
  margin-bottom: 96px;

  @include mq(991) {
    margin-bottom: 48px;
  }

  @include mq(768) {
    margin-bottom: 24px;
  }
}

.comments-form__items {
  max-width: 1393px;
  width: 100%;
}

.comments-form__item {
  margin-bottom: 64px;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq(1240) {
    margin-bottom: 48px;
  }

  @include mq(991) {
    margin-bottom: 24px;
  }

  @include mq(480) {
    margin-bottom: 16px;
  }
}

.comment-form__item-title {
  color: $black;
  display: block;
  margin-bottom: 16px;
}

.comment-form__item-textarea {
  height: 384px;
  resize: none;

  @include mq(1240) {
    height: 250px;
  }

  @include mq(768) {
    height: 100px;
  }

  @include mq(520) {
    height: 75px;
  }
}

.comment-form__item-textarea,
.comment-form__item-input {
  width: 100%;
  display: block;
  font-size: 24px;
  padding: 20px 10px;
  border: 2px solid $black;
  outline: none;
}

.comments-form__item--required {
  .comment-form__item-title {
    position: relative;

    &::after {
      content: "*";
      position: absolute;
    }
  }
}

.comment-form__item-input {
  height: 88px;

  @include mq(1240) {
    height: 64px;
  }

  @include mq(768) {
    height: 32px;
  }

  @include mq(520) {
    height: 16px;
  }
}
