.comments-form {
  padding-bottom: 128px;
  background-color: $white;

  @include mq(1240) {
    padding-bottom: 84px;
  }

  @include mq(991) {
    padding-bottom: 64px;
  }

  @include mq(768) {
    padding-bottom: 48px;
  }

  @include mq(480) {
    padding-bottom: 32px;
  }
}

.comments-form__wrapper {
  max-width: 1393px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.comments-form__title {
  color: $black;
  text-align: center;
  margin-bottom: 96px;

  @include mq(991) {
    margin-bottom: 48px;
  }

  @include mq(768) {
    margin-bottom: 24px;
  }
}

.comments-form__items {
  max-width: 1393px;
  width: 100%;
}

.comments-form__item {
  margin-bottom: 64px;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq(1240) {
    margin-bottom: 48px;
  }

  @include mq(991) {
    margin-bottom: 24px;
  }

  @include mq(480) {
    margin-bottom: 16px;
  }
}

.comment-form__item-title {
  color: $black;
  display: block;
  margin-bottom: 16px;
}

.comment-form__item-textarea {
  height: 384px;
  resize: none;

  @include mq(1240) {
    height: 250px;
  }

  @include mq(768) {
    height: 100px;
  }

  @include mq(520) {
    height: 75px;
  }
}

.comment-form__item-textarea,
.comment-form__item-input {
  width: 100%;
  display: block;
  font-size: 24px;
  padding: 20px 10px;
  border: 2px solid $black;
  outline: none;
}

.comments-form__item--required {
  .comment-form__item-title {
    position: relative;

    &::after {
      content: "*";
      position: absolute;
    }
  }
}

.comment-form__item-input {
  height: 88px;

  @include mq(1240) {
    height: 64px;
  }

  @include mq(768) {
    height: 32px;
  }

  @include mq(520) {
    height: 16px;
  }
}

@include mq(1921, min) {
  .comments-form {
    padding-bottom: 6.66667vw;
  }

  .comments-form__wrapper {
    max-width: 72.55208vw;
  }

  .comments-form__title {
    margin-bottom: 5vw;
  }

  .comments-form__items {
    max-width: 72.55208vw;
  }

  .comments-form__item {
    margin-bottom: 3.33333vw;
  }

  .comment-form__item-title {
    margin-bottom: 0.83333vw;
  }

  .comment-form__item-textarea {
    height: 20vw;
  }

  .comment-form__item-textarea,
  .comment-form__item-input {
    font-size: 1.25vw;
    padding: 1.04167vw 0.52083vw;
    border: 0.10417vw solid $black;
  }

  .comment-form__item-input {
    height: 4.58333vw;
  }
}
