.contact-info {
  background-color: $white;
  padding: 256px 0 128px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 130px;
    left: 52%;
    transform: translateX(-50%);
    width: 446px;
    height: 391px;
    background-image: url("/src/images/contact-orange.png");
    z-index: 1;
  }
}

.contact-info__wrapper {
  display: flex;
  align-items: flex-end;
}

.contact-info__img-box {
  max-width: 792px;
  width: 100%;
  margin-right: 200px;
  position: relative;
  z-index: 2;
}

.contact-info__text-box {
  max-width: 507px;
  width: 100%;
}

.contact-info__text {
  @extend .rufina-32-bold;
  color: $black;
}

.contact-info__text--green {
  color: $green-light;
}

.contact-info--reverse {
  padding: 128px 0 192px;

  &::after {
    display: none;
  }

  .contact-info__wrapper {
    align-items: center;
  }

  .contact-info__img-box {
    margin-right: 0;
  }

  .contact-info__text-box {
    max-width: 748px;
    margin-right: 60px;
  }

  .contact-info__text {
    margin-bottom: 53px;
  }
}
