.contact-info {
  background-color: $white;
  padding: 256px 0 128px;
  position: relative;

  @include mq(1240) {
    padding: 120px 0 84px;
  }

  @include mq(991) {
    padding: 120px 0 64px;
  }

  @include mq(768) {
    padding: 120px 0 48px;
  }

  @include mq(480) {
    padding: 120px 0 32px;
  }

  .img-box {
    position: absolute;
    top: 130px;
    left: 52%;
    transform: translateX(-50%);
    max-width: 446px;
    width: 100%;

    @include mq(1770) {
      left: 60%;
    }

    @include mq(1300) {
      max-width: 350px;
    }

    @include mq(991) {
      top: 0;
    }

    @include mq(768) {
      max-width: 250px;
    }
  }
}

.contact-info__wrapper {
  display: flex;
  align-items: flex-end;

  @include mq(991) {
    flex-direction: column;
    align-items: center;
  }
}

.contact-info__img-box {
  max-width: 792px;
  width: 100%;
  margin-right: 24px;
  position: relative;
  z-index: 2;

  @include mq(991) {
    margin-right: 0;
    margin-bottom: 24px;
  }
}

.contact-info__text-box {
  max-width: 507px;
  width: 100%;
  margin-left: auto;

  @include mq(991) {
    margin-right: auto;
  }
}

.contact-info__text {
  @extend .rufina-32-bold;
  color: $black;
}

.contact-info__text--green {
  color: $green-light;
}

.contact-info--reverse {
  padding: 128px 0 192px;

  @include mq(1240) {
    padding: 84px 0 128px;
  }

  @include mq(991) {
    padding: 64px 0 84px;
  }

  @include mq(768) {
    padding: 48px 0 64px;
  }

  @include mq(480) {
    padding: 32px 0 48px;
  }

  &::after {
    display: none;
  }

  .contact-info__wrapper {
    align-items: center;

    @include mq(991) {
      flex-direction: column-reverse;
    }
  }

  .contact-info__img-box {
    margin-right: 0;
  }

  .contact-info__text-box {
    max-width: 748px;
    margin-right: 60px;
    text-align: center;

    @include mq(991) {
      margin-right: 0;
    }
  }

  .contact-info__text {
    margin-bottom: 53px;

    @include mq(991) {
      margin-bottom: 24px;
    }

    @include mq(480) {
      margin-bottom: 16px;
    }
  }
}

@include mq(1921, min) {
  .contact-info {
    padding: 13.33333vw 0 6.66667vw;
    .img-box {
      top: 6.77083vw;
      max-width: 23.22917vw;
    }
  }

  .contact-info__img-box {
    max-width: 41.25vw;
    margin-right: 1.25vw;
  }

  .contact-info__text-box {
    max-width: 26.40625vw;
  }

  .contact-info--reverse {
    padding: 6.66667vw 0 10vw;
    .contact-info__text-box {
      max-width: 38.95833vw;
      margin-right: 3.125vw;
    }

    .contact-info__text {
      margin-bottom: 2.76042vw;
    }
  }
}
