.cook {
  background-color: $green-lighter;
  padding: 256px 0 64px;

  @include mq(1240) {
    padding: 128px 0 48px;
  }

  @include mq(991) {
    padding: 84px 0 48px;
  }

  @include mq(768) {
    padding: 48px 0 32px;
  }

  @include mq(480) {
    padding: 32px 0;
  }
}

.cook__wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;

  @include mq(1240) {
    flex-direction: column;
    align-items: center;
  }

  .img-box {
    position: absolute;
    max-width: 503px;
    width: 100%;

    @include mq(1670) {
      max-width: 350px;
    }

    @include mq(1550) {
      max-width: 250px;
    }

    @include mq(991) {
      max-width: 200px;
    }
  }

  .img-box--left {
    top: 0;
    left: 0;
  }

  .img-box--right {
    bottom: 0;
    right: 0;
  }
}

.cook__img-box {
  max-width: 935px;
  width: 100%;
  margin-right: 24px;

  @include mq(1240) {
    margin-right: 0;
    margin-bottom: 24px;
  }
}

.cook__content-box {
  max-width: 649px;
  width: 100%;
  color: $black;

  @include mq(1240) {
    text-align: center;
  }
}

.cook__content-title {
  margin-bottom: 16px;
}

@include mq(1921, min) {
  .cook {
    padding: 13.33333vw 0 3.33333vw;
  }

  .cook__wrapper {
    .img-box {
      max-width: 26.19792vw;
    }
  }

  .cook__img-box {
    max-width: 48.69792vw;
    margin-right: 1.25vw;
  }

  .cook__content-box {
    max-width: 33.80208vw;
  }

  .cook__content-title {
    margin-bottom: 0.83333vw;
  }
}
