.cta {
  background-image: url("/src/images/cta.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $main;
    opacity: 0.7;
  }
}
.cta__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 196px;
  padding-bottom: 196px;
  position: relative;
  z-index: 10;
}

.cta__title {
  margin-bottom: 16px;
  text-align: center;
}

.cta__text {
  margin-bottom: 64px;
  text-align: center;

  @include mq(991) {
    margin-bottom: 48px;
  }

  @include mq(768) {
    margin-bottom: 24px;
  }

  @include mq(480) {
    margin-bottom: 16px;
  }
}

.cta__link {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 350ms ease;

  &:hover {
    background: $white;
    animation: pulse 1500ms ease-out infinite;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.65);
    border-radius: 50%;

    @include mq(768) {
      width: 75px;
      height: 75px;
    }

    @include mq(480) {
      width: 60px;
      height: 60px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: $white;
    border-radius: 50%;
    transition: 0.5s;

    @include mq(768) {
      width: 75px;
      height: 75px;
    }

    @include mq(480) {
      width: 60px;
      height: 60px;
    }
  }
}

.cta__icon {
  display: block;
  position: relative;
  z-index: 20;
  left: 3px;
  width: 0;
  height: 0;
  border-left: 20px solid $main;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  transition: box-shadow 0.3s;

  @include mq(768) {
    border-left: 16px solid $main;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
  }

  @include mq(480) {
    border-left: 14px solid $main;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
}

@keyframes pulse {
  0% {
    box-shadow: rgb(255, 255, 255) 0 0 0 0;
  }

  100% {
    box-shadow: rgba(255, 255, 255, 0) 0 0 0 30px;
  }
}

@include mq(1921, min) {
  .cta__wrapper {
    padding-top: 10.20833vw;
    padding-bottom: 10.20833vw;
  }

  .cta__title {
    margin-bottom: 0.83333vw;
  }

  .cta__text {
    margin-bottom: 3.33333vw;
  }

  .cta__link {
    width: 5.20833vw;
    height: 5.20833vw;
    &::before {
      width: 5.20833vw;
      height: 5.20833vw;
    }
    &::after {
      width: 5.20833vw;
      height: 5.20833vw;
    }
  }

  .cta__icon {
    left: 0.15625vw;
    border-left: 1.04167vw solid $main;
    border-top: 0.72917vw solid transparent;
    border-bottom: 0.72917vw solid transparent;
  }
}
