.form-reservation {
  background-color: $green-lighter;
  padding: 256px 0;
}

.form-reservation__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-reservation__content {
  max-width: 1008px;
  width: 100%;
  text-align: center;
  color: $black;
  margin-bottom: 132px;
}

.form-reservation__content-title {
  margin-bottom: 18px;
}

.form-reservation__items {
  display: flex;
  align-items: center;
  margin-bottom: 133px;
}

.form-reservation__item {
  @extend .lato-24-normal;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 516px;
  width: 100%;
  height: 96px;
  border: 2px solid $black;
  margin-right: 48px;
  padding: 40px 30px;

  &:last-child {
    margin-right: 0;
  }

  .form-reservation__item-date,
  .form-reservation__item-time,
  .form-reservation__item-person {
    @extend .lato-24-normal;
    width: 386px;
    border: 0;
    background-color: transparent;
  }
}

/* CONTACT PAGE */

.form-reservation--contact {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 150px;
    width: 511px;
    height: 346px;
    background-image: url("/src/images/contact-mint.png");
  }
  .form-reservation__wrapper {
    align-items: stretch;
  }

  .form-reservation__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto 132px;
  }

  .form-reservation__items {
    display: block;
    margin-bottom: 0;
  }

  .form-reservation__item {
    justify-content: space-between;
    margin-bottom: 46px;
  }

  .form-reservation__item-date,
  .form-reservation__item-time,
  .form-reservation__item-person {
    width: 100%;
  }

  .form-reservation__item--full-width {
    .form-reservation__item {
      max-width: 100%;
      width: 100%;
    }
  }

  .form-reservation__item--half-width {
    display: flex;

    .form-reservation__item {
      max-width: 799px;
      width: 100%;
    }
  }

  .form-reservation__item-name,
  .form-reservation__item-email,
  .form-reservation__item-phone {
    @extend .lato-24-normal;
    border: 0;
    background-color: transparent;

    &::placeholder {
      color: $black;
    }
  }

  .form-reservation__btn {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    max-width: 327px;
  }
}
