.grid {
  padding: 128px 0;
  background-color: $white;

  @include mq(1240) {
    padding: 84px 0;
  }

  @include mq(991) {
    padding: 64px 0;
  }

  @include mq(768) {
    padding: 48px 0;
  }

  @include mq(480) {
    padding: 32px 0;
  }
}

.grid__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include mq(1400) {
    padding: 0 24px;
  }
}

.grid__btn-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 48px;
  margin-bottom: 48px;

  @include mq(1220) {
    grid-gap: 24px;
    margin-bottom: 24px;
  }
}

.grid__btn {
  @extend .lato-34-normal;
  color: $black;
  cursor: pointer;
  padding-bottom: 2px;
  background: linear-gradient(
    to bottom,
    rgba($black, 1) 0%,
    rgba($black, 1) 98%
  );
  background-size: 0 2px;
  background-repeat: no-repeat;
  background-position: left 100%;
  transition: background-size 0.3s;

  @include hover {
    background-size: 100% 2px;
  }

  &.active {
    color: $grey;
  }
}

.grid__gallery-items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
  grid-gap: 24px;

  @include mq(1400) {
    justify-content: center;
    margin-bottom: 64px;
  }

  @include mq(991) {
    margin-bottom: 48px;
  }

  @include mq(768) {
    margin-bottom: 32px;
  }

  @include mq(480) {
    margin-bottom: 24px;
    grid-gap: 16px;
  }
}

.grid__gallery-item {
  position: relative;
  z-index: 1;

  &.hide {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  }
}

.grid__gallery-item--big {
  max-width: 1000px;
  width: 100%;
}

.grid__gallery-item-content-box {
  position: absolute;
  bottom: 64px;
  left: 42px;
  z-index: 2;

  @include mq(768) {
    bottom: 8px;
    left: 10px;
  }
}

.grid__gallery-item-content-title {
  @extend .rufina-48-bold;
  margin-bottom: 16px;
}

.grid__gallery-item-content-text {
  margin-right: 20px;
  position: relative;
  display: inline-flex;
  align-items: center;

  &:last-child {
    margin-right: 0;
  }

  &::after {
    content: "";
    display: inline-block;
    margin-left: 20px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $white;
  }

  &:last-child::after {
    display: none;
  }
}

.grid__gallery-item--small {
  max-width: 500px;
  width: 100%;
}

.grid__gallery-item--medium {
  max-width: 750px;
  width: 100%;
}

@include mq(1921, min) {
  .grid {
    padding: 6.66667vw 0;
  }

  .grid__btn-box {
    grid-gap: 2.5vw;
    margin-bottom: 2.5vw;
  }

  .grid__btn {
    padding-bottom: 0.10417vw;
    background-size: 0 0.10417vw;
  }

  .grid__gallery-items {
    margin-bottom: 5.20833vw;
    grid-gap: 1.25vw;
  }

  .grid__gallery-item--big {
    max-width: 52.08333vw;
  }

  .grid__gallery-item-content-box {
    bottom: 3.33333vw;
    left: 2.1875vw;
  }

  .grid__gallery-item-content-title {
    margin-bottom: 0.83333vw;
  }

  .grid__gallery-item-content-text {
    margin-right: 1.04167vw;
    &::after {
      margin-left: 1.04167vw;
      width: 0.20833vw;
      height: 0.20833vw;
    }
  }

  .grid__gallery-item--small {
    max-width: 26.04167vw;
  }

  .grid__gallery-item--medium {
    max-width: 39.0625vw;
  }
}
