.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 12px 0;
  width: 100%;
  z-index: 99;
  transition: background-color 0.3s, transform 0.3s;

  &.not-top {
    background-color: $green-light;
  }

  &.hide {
    transform: translateY(-100%);
  }
}

.header__right-btn {
  &.not-top {
    @include hover {
      color: $green-light;
    }
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  max-width: 446px;
  width: 100%;
  display: flex;
  align-items: center;

  @include mq(480) {
    width: 100%;
    justify-content: space-between;
  }
}

.header__left-logo-link {
  max-width: 250px;
  width: 100%;
  margin-right: 45px;

  @include mq(1440) {
    max-width: 150px;
  }

  @include mq(768) {
    max-width: 100px;
  }

  @include mq(480) {
    max-width: 75px;
  }

  @include mq(400) {
    margin-right: 24px;
  }
}

.header__right {
  display: flex;
  align-items: center;

  @include mq(991) {
    display: none;
  }
}

.header__right-info {
  @extend .lato-24-normal;
  color: $white;
  text-decoration: none;
  margin-right: 26px;
}

/* HAMBURGER MENU */
.header__left-menu {
  position: relative;
  max-width: 46px;
  width: 100%;
  height: 28px;
  cursor: pointer;

  &.active {
    span {
      transform: rotate(138deg);

      &::before {
        transform: rotate(-95deg);
      }

      &::after {
        display: none;
      }
    }
  }

  @include mq(768) {
    max-width: 35px;
    height: 20px;
  }

  @include mq(480) {
    max-width: 22px;
    height: 14px;
  }
}

.header__content-close-btn {
  position: absolute;
  top: 90px;
  right: 80px;
  z-index: 30;
  cursor: pointer;

  @include mq(1400) {
    max-width: 24px;
  }

  @include mq(1200) {
    max-width: 20px;
  }

  @include mq(991) {
    top: 10px;
  }

  @include mq(480) {
    max-width: 14px;
    top: 20px;
  }

  svg {
    width: 32px;
    height: 32px;
    fill: $white;

    @include mq(1400) {
      width: 24px;
      height: 24px;
    }

    @include mq(1200) {
      width: 20px;
      height: 20px;
    }

    @include mq(768) {
      width: 16px;
      height: 16px;
    }

    path {
      fill: $white;
    }
  }
}

.header__left-menu-line {
  width: 100%;
  height: 2px;
  background-color: $white;
  display: block;
  margin-top: 12px;

  @include mq(768) {
    margin-top: 9px;
  }

  @include mq(480) {
    height: 1px;
    margin-top: 6px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    background-color: $white;

    @include mq(480) {
      height: 1px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    background-color: $white;

    @include mq(480) {
      height: 1px;
    }
  }
}

.header__content {
  background: url("/src/images/nav-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 20;
  display: flex;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -180%;
  padding: 100px 200px;
  transition: right 0.3s;

  @include mq(530) {
    padding: 50px;
  }

  .social__items {
    justify-content: flex-start;
  }

  .contact {
    margin-right: 0;
    position: relative;
    z-index: 20;

    @include mq(768) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    .contact__title {
      border-bottom: 4px dashed $white;
      padding-bottom: 8px;
      margin-bottom: 38px;

      @include mq(991) {
        margin-bottom: 32px;
      }

      @include mq(768) {
        margin-bottom: 24px;
        border-bottom: 2px dashed $white;
      }

      @include mq(480) {
        margin-bottom: 16px;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $main;
    opacity: 0.8;
    z-index: 1;
  }

  &.active {
    right: 0;
  }
}

.header__content-wrapper {
  max-width: 1482px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include mq(991) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.hidden {
  opacity: 0;
}

/* NAVIGATION */

.nav {
  position: relative;
  z-index: 20;
}

.nav__items {
  margin-right: 24px;

  @include mq(991) {
    margin-right: 0;
    margin-bottom: 48px;
  }

  @include mq(480) {
    margin-bottom: 24px;
  }
}

.nav__item {
  @extend .rufina-44-bold;
  text-transform: uppercase;
  margin-bottom: 28px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -30px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $white;
    transition: background-color 0.3s;

    @include mq(1440) {
      top: 15px;
      width: 8px;
      height: 8px;
    }

    @include mq(1200) {
      top: 12px;
      width: 7px;
      height: 7px;
    }

    @include mq(768) {
      top: 7px;
      left: -15px;
      width: 4px;
      height: 4px;
    }
  }

  &:hover::before {
    background-color: $green-light;
  }
}

.nav__item-link {
  position: relative;
  color: $white;
  text-decoration: none;
  transition: color 0.3s;

  @include hover {
    color: $green-light;
  }
}

.nav__subitem {
  @extend .rufina-26-bold;
  text-transform: capitalize;
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 0;
  }
}

.nav__subitem-link {
  color: $white;
  text-decoration: none;
  transition: color 0.3s;

  @include hover {
    color: $green-light;
  }
}

.nav__subitems {
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
}

.nav__subitems-expanding {
  position: absolute;
  top: 50%;
  right: -75px;
  max-width: 30px;
  width: 100%;
  transform: translateY(-50%) rotate(90deg);
  cursor: pointer;

  &[data-open="opened"] {
    svg {
      transform: rotate(-180deg);
    }
  }

  @include mq(1200) {
    right: -40px;
  }

  @include mq(480) {
    right: -30px;
    top: 8px;
  }
}

svg {
  height: 20px;
  path {
    stroke: $white;
  }

  @include mq(1440) {
    height: 15px;
  }

  @include mq(1200) {
    height: 12px;
  }

  @include mq(480) {
    height: 8px;
  }
}

@include mq(1921, min) {
  .header {
    padding: 0.625vw 0;
  }

  .header__left {
    max-width: 23.22917vw;
  }

  .header__left-logo-link {
    max-width: 13.02083vw;
    margin-right: 2.34375vw;
  }

  .header__right-info {
    margin-right: 1.35417vw;
  }

  .header__left-menu {
    max-width: 2.39583vw;
    height: 1.45833vw;
  }

  .header__content-close-btn {
    top: 4.6875vw;
    right: 4.16667vw;

    svg {
      width: 1.66667vw;
      height: 1.66667vw;
    }
  }

  .header__left-menu-line {
    height: 0.10417vw;
    margin-top: 0.625vw;
    &::before {
      height: 0.10417vw;
    }
    &::after {
      height: 0.10417vw;
    }
  }

  .header__content {
    padding: 5.20833vw 10.41667vw;

    .contact {
      .contact__title {
        border-bottom: 0.20833vw dashed $white;
        padding-bottom: 0.41667vw;
        margin-bottom: 1.97917vw;
      }
    }
  }

  .header__content-wrapper {
    max-width: 77.1875vw;
  }

  .nav__items {
    margin-right: 1.25vw;
  }

  .nav__item {
    margin-bottom: 1.45833vw;
    &::before {
      top: 1.04167vw;
      left: -1.5625vw;
      width: 0.625vw;
      height: 0.625vw;
    }
  }

  .nav__subitem {
    margin-bottom: 0.3125vw;
  }

  .nav__subitems-expanding {
    right: -3.90625vw;
    max-width: 1.5625vw;
  }

  .nav__subitems-expanding {
    svg {
      width: 1.5625vw;
      height: 1.04167vw;
    }
  }
}
