.home-banner {
  margin-bottom: 150px;
  padding-top: 200px;

  @include mq(1240) {
    margin-bottom: 84px;
  }

  @include mq(991) {
    margin-bottom: 64px;
  }

  @include mq(768) {
    margin-bottom: 48px;
    padding-top: 150px;
  }

  @include mq(480) {
    margin-bottom: 32px;
    padding-top: 100px;
  }
}

.home-banner__wrapper {
  display: flex;
  align-items: center;

  @include mq(1560) {
    flex-direction: column;
  }
}

.home-banner__content {
  max-width: 1057px;
  width: 100%;
  margin-right: 24px;

  @include mq(1560) {
    margin-right: 0;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include mq(991) {
    margin-bottom: 32px;
  }

  @include mq(480) {
    margin-bottom: 24px;
  }
}

.home-banner__content-title {
  margin-bottom: 50px;

  @include mq(1560) {
    margin-bottom: 24px;
    text-align: center;
    justify-content: center;
  }

  @include mq(768) {
    margin-bottom: 16px;
  }
}

.home-banner__content-text {
  @extend .lato-24-normal;
  max-width: 565px;
  width: 100%;

  @include mq(1560) {
    text-align: center;
  }
}

.home-banner__img-box {
  max-width: 792px;
  width: 100%;
}

@include mq(1921, min) {
  .home-banner {
    margin-bottom: 7.8125vw;
    padding-top: 10.41667vw;
  }

  .home-banner__content {
    max-width: 55.05208vw;
    margin-right: 1.25vw;
  }

  .home-banner__content-title {
    margin-bottom: 2.60417vw;
  }

  .home-banner__content-text {
    max-width: 29.42708vw;
  }

  .home-banner__img-box {
    max-width: 41.25vw;
  }
}
