.meal-category {
  padding: 128px 0;
  background-color: $white;
}

.meal-category__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.meal-category__content {
  max-width: 1101px;
  width: 100%;
  color: $black;
  text-align: center;
  margin-bottom: 126px;
}

.meal-category__content-title {
  margin-bottom: 18px;
}

.meal-category__items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 60px;
}

.meal-category__item {
  max-width: 470px;
  width: 100%;
  position: relative;

  &:last-child {
    margin-right: 0;
  }
}

.meal-category__item-tag {
  position: relative;
  display: flex;
  align-items: center;
}

.meal-category__item-tag-text {
  @extend .rufina-48-bold;
  color: $black;
  left: 48px;
}

.meal-category__item-tag-arrow {
  width: 46px;
  height: 26px;
  right: 48px;
}

.meal-category__item-tag-text,
.meal-category__item-tag-arrow {
  position: absolute;
  top: 48px;
}
