.meal {
  background-color: $white;
  color: $black;
  padding: 128px 0 140px;
  position: relative;

  @include mq(1240) {
    padding: 84px 0;
  }

  @include mq(991) {
    padding: 64px 0;
  }

  @include mq(768) {
    padding: 48px 0;
  }

  .meal__menu {
    @include mq(1520) {
      flex-direction: column;
      align-items: center;
    }
  }

  .menu__items {
    display: block;
  }

  .menu__item {
    margin-bottom: 58px;

    &:last-child {
      margin-bottom: 0;
    }

    @include mq(991) {
      margin-bottom: 32px;
    }

    @include mq(768) {
      margin-bottom: 24px;
    }

    @include mq(480) {
      margin-bottom: 16px;
    }
  }
}

.meal__wrapper {
  @include mq(1600) {
    padding: 0 24px;
  }
}

.meal-starters {
  .img-box {
    max-width: 450px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;

    img {
      background-repeat: no-repeat;
    }

    @include mq(1150) {
      max-width: 250px;
    }

    @include mq(768) {
      max-width: 150px;
    }
  }

  .meal__content {
    @include mq(1520) {
      margin-bottom: 64px;
    }

    @include mq(991) {
      margin-bottom: 32px;
    }

    @include mq(480) {
      margin-bottom: 24px;
    }
  }
}

.meal-mains {
  .meal__menu-img-box {
    margin-right: 0;
  }

  .meal__menu {
    @include mq(1520) {
      flex-direction: column-reverse;
    }
  }

  @include mq(1520) {
    flex-direction: row-reverse;
  }

  .menu__items {
    margin-right: 100px;

    @include mq(1520) {
      margin-right: 0;
    }
  }

  .meal__content {
    @include mq(1520) {
      margin-bottom: 64px;
    }

    @include mq(991) {
      margin-bottom: 32px;
    }

    @include mq(480) {
      margin-bottom: 24px;
    }
  }
}

.meal-pastries-and-drinks {
  @include mq(991) {
    padding: 84px 0;
  }

  @include mq(480) {
    padding: 84px 0;
  }

  .img-box {
    max-width: 350px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @include mq(1150) {
      max-width: 250px;
    }

    @include mq(768) {
      max-width: 150px;
    }
  }
}

.meal__content {
  max-width: 922px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 200px;
  text-align: center;

  @include mq(991) {
    margin-bottom: 32px;
  }

  @include mq(768) {
    margin-bottom: 24px;
  }
}

.meal__content-title {
  margin-bottom: 16px;
}

.meal__menu {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.meal__menu-img-box {
  max-width: 792px;
  width: 100%;
  margin-right: 100px;

  @include mq(1600) {
    margin-right: 24px;
  }

  @include mq(1520) {
    margin-right: 0;
    margin-bottom: 24px;
  }
}

@include mq(1921, min) {
  .meal {
    padding: 6.66667vw 0 7.29167vw;
    .menu__item {
      margin-bottom: 3.02083vw;
    }
  }

  .meal-starters {
    .img-box {
      max-width: 23.4375vw;
    }
  }

  .meal-mains {
    .menu__items {
      margin-right: 5.20833vw;
    }
  }

  .meal-pastries-and-drinks {
    .img-box {
      max-width: 18.22917vw;
    }
  }

  .meal__content {
    max-width: 48.02083vw;
    margin-bottom: 10.41667vw;
  }

  .meal__content-title {
    margin-bottom: 0.83333vw;
  }

  .meal__menu-img-box {
    max-width: 41.25vw;
    margin-right: 5.20833vw;
  }
}
