.our-story {
  padding: 196px 0 128px;
  background-color: $white;
  position: relative;

  @include mq(1240) {
    padding: 128px 0 84px;
  }

  @include mq(991) {
    padding: 84px 0 64px;
  }

  @include mq(768) {
    padding: 64px 0 48px;
  }

  @include mq(480) {
    padding: 32px 0;
  }

  .img-box {
    position: absolute;
    top: 40px;
    left: 43%;
    transform: translateX(-50%);
    max-width: 326px;
    width: 100%;

    @include mq(1200) {
      max-width: 250px;
      left: 45%;
    }

    @include mq(991) {
      top: 0;
    }

    @include mq(768) {
      max-width: 200px;
    }

    @include mq(480) {
      max-width: 150px;
    }
  }
}

.our-story__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(1600) {
    padding: 0 24px;
  }

  @include mq(991) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.our-story__content-box {
  max-width: 635px;
  width: 100%;
  margin-right: 100px;
  color: $black;

  @include mq(991) {
    margin-right: 0;
    margin-bottom: 24px;
  }
}

.our-story__title {
  margin-bottom: 16px;
}

.our-story__img-box {
  max-width: 792px;
  width: 100%;
}

@include mq(1921, min) {
  .our-story {
    padding: 10.20833vw 0 6.66667vw;
    .img-box {
      top: 2.08333vw;
      max-width: 16.97917vw;
    }
  }

  .our-story__content-box {
    max-width: 33.07292vw;
    margin-right: 5.20833vw;
  }

  .our-story__title {
    margin-bottom: 0.83333vw;
  }

  .our-story__img-box {
    max-width: 41.25vw;
  }
}
