.post-info {
  padding: 128px 0;
  background-color: $white;

  @include mq(1240) {
    padding: 84px 0;
  }

  @include mq(991) {
    padding: 64px 0;
  }

  @include mq(768) {
    padding: 48px 0;
  }

  @include mq(480) {
    padding: 32px 0;
  }

  .blog-post__content-top-text {
    &::after {
      background-color: $grey;
    }
  }
}

.post-info__wrapper {
  color: $black;
}

.post-info__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-info__content-text {
  margin-bottom: 86px;

  @include mq(1240) {
    margin-bottom: 64px;
  }

  @include mq(991) {
    margin-bottom: 32px;
  }

  @include mq(480) {
    margin-bottom: 24px;
  }
}

.post-info__content-text--small {
  margin-bottom: 150px;

  @include mq(1240) {
    margin-bottom: 64px;
  }

  @include mq(991) {
    margin-bottom: 32px;
  }

  @include mq(480) {
    margin-bottom: 24px;
  }
}

.post-info__content-text--big {
  margin-bottom: 142px;

  @include mq(1240) {
    margin-bottom: 64px;
  }

  @include mq(991) {
    margin-bottom: 32px;
  }

  @include mq(480) {
    margin-bottom: 24px;
  }
}

.post-info__content-items {
  display: flex;
  margin-bottom: 72px;

  @include mq(1240) {
    margin-bottom: 64px;
  }

  @include mq(991) {
    margin-bottom: 32px;
  }

  @include mq(768) {
    flex-direction: column;
    align-items: center;
  }

  @include mq(480) {
    margin-bottom: 24px;
  }
}

.post-info__content-item--big {
  max-width: 792px;
  margin-right: 60px;

  @include mq(768) {
    margin-right: 0;
  }
}

.post-info__content-item--small {
  max-width: 366px;
}

.post-info__content-item {
  width: 100%;
  margin-bottom: 60px;

  @include mq(1240) {
    margin-bottom: 32px;
  }

  @include mq(768) {
    margin-bottom: 24px;
  }

  @include mq(480) {
    margin-bottom: 16px;
  }
}
.post-info__content-quote {
  max-width: 992px;
  width: 100%;
  margin: 0 auto 138px;

  @include mq(1240) {
    margin-bottom: 64px;
  }

  @include mq(991) {
    margin-bottom: 32px;
  }

  @include mq(480) {
    margin-bottom: 24px;
  }
}

.post-info__content-quote-title {
  @extend .lato-38-bold;
  color: $green;
  font-style: italic;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    max-width: 282px;
    width: 100%;
    height: 234px;
    background-image: url("/src/images/testimonials-quotation-marks.png");
  }
}

.post-info__content-tags {
  display: flex;
  align-items: center;
  margin-bottom: 150px;

  @include mq(1240) {
    margin-bottom: 64px;
  }

  @include mq(790) {
    flex-direction: column;
  }

  @include mq(991) {
    margin-bottom: 32px;
  }

  @include mq(480) {
    margin-bottom: 24px;
  }
}

.post-info__content-tags-title {
  margin-right: 16px;

  @include mq(790) {
    margin-right: 0;
    margin-bottom: 16px;
  }
}

.post-info__content-tag {
  @extend .lato-18-normal;
  margin-right: 16px;
  position: relative;
  padding: 10px 20px;

  &:last-child {
    margin-right: 0;
  }

  @include mq(790) {
    margin-right: 0;
    margin-bottom: 16px;
    width: 100%;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42px;
    border: 2px solid $black;
  }
}
.post-info__content-author {
  display: flex;
  align-items: center;

  @include mq(580) {
    flex-direction: column;
  }
}

.post-info__content-author-img-box {
  max-width: 220px;
  width: 100%;
  margin-right: 60px;

  @include mq(991) {
    margin-right: 24px;
  }

  @include mq(768) {
    max-width: 130px;
  }

  @include mq(580) {
    margin-right: 0;
    margin-bottom: 24px;
  }

  @include mq(480) {
    max-width: 100px;
  }
}

.post-info__content-author-text-box {
  max-width: 795px;
  width: 100%;

  @include mq(580) {
    text-align: center;
  }
}

.post-info__content-author-text-title {
  margin-bottom: 28px;

  @include mq(991) {
    margin-bottom: 24px;
  }

  @include mq(480) {
    margin-bottom: 16px;
  }
}
