.staff {
  background-color: $white;
  padding-top: 128px;
  padding-bottom: 256px;
  padding: 128px 0 256px;

  @include mq(1240) {
    padding: 84px 0 128px;
  }

  @include mq(991) {
    padding: 64px 0 84px;
  }

  @include mq(768) {
    padding: 48px 0 64px;
  }
}

.staff__item {
  display: flex;
  justify-content: space-between;

  @include mq(991) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.staff__item-left {
  max-width: 726px;
  width: 100%;
  margin-right: 100px;

  @include mq(991) {
    margin-right: 0;
  }
}

.staff__item-left-title {
  @extend .rufina-68-bold;
  color: $black;
  margin-bottom: 24px;
  text-align: center;
}

.staff__item-left-text {
  @extend .lato-24-normal;
  color: $black;
  margin-bottom: 24px;
  text-align: center;
}

.staff__item-left-img-box {
  max-width: 726px;
  width: 100%;

  @include mq(991) {
    margin-bottom: 24px;
  }
}

.staff__item-right {
  width: 100%;

  @include mq(991) {
    width: auto;
  }
}

.staff__item-right-text {
  @extend .lato-24-normal;
  max-width: 510px;
  width: 100%;
  transform: translateY(155px);
  color: $black;

  @include mq(991) {
    transform: translateY(0);
  }
}

.staff__item--reverse {
  margin-top: -400px;

  @include mq(991) {
    flex-direction: column-reverse;
    margin-top: 0;
  }

  .staff__item-left {
    margin-right: 0;
  }

  .staff__item-right {
    align-self: flex-end;
    margin-right: 100px;

    @include mq(991) {
      margin-right: 0;
      align-self: center;
    }
  }

  .staff__item-right-text {
    text-align: right;
    margin-left: auto;
    transform: translateY(0);

    @include mq(991) {
      text-align: center;
    }
  }
}
