.testimonials {
  background-color: $white;
  padding: 128px 0;

  @include mq(1240) {
    padding: 84px 0;
  }

  @include mq(991) {
    padding: 64px 0;
  }

  @include mq(768) {
    padding: 48px 0;
  }

  @include mq(480) {
    padding: 32px 0;
  }
}

.testimonials__wrapper {
  max-width: 1645px;
  width: 100%;
  padding: 0 24px;
}

.testimonials__slider-item-top {
  max-width: 1262px;
  width: 100%;
  margin-bottom: 86px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 282px;
    height: 234px;
    background: url("/src/images/testimonials-quotation-marks.png");
    background-repeat: no-repeat;
    z-index: -1;
  }

  @include mq(660) {
    margin-bottom: 48px;
  }

  @include mq(480) {
    margin-bottom: 24px;
  }
}

.testimonials__slider-item-title {
  @extend .rufina-48-bold;
  color: $black;
}

.testimonials__slider-item-bottom {
  display: flex;
  align-items: center;
  color: $black;

  @include mq(450) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.testimonials__slider-item-bottom-img {
  max-width: 170px;
  width: 100%;
  height: 170px;
  margin-right: 60px;

  @include mq(768) {
    max-width: 130px;
    height: 130px;
    margin-right: 24px;
  }

  @include mq(480) {
    max-width: 100px;
    height: 100px;
    margin-right: 16px;
  }
}

.testimonials__slider-item-bottom-name {
  @extend .rufina-32-bold;
  display: block;
  margin-bottom: 6px;
}

.testimonials__slider-item-bottom-job {
  @extend .lato-18-normal;
  display: block;
}

.testimonials__slider-button-box {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.testimonials__slider-button-prev,
.testimonials__slider-button-next,
.testimonials__slider-pagination-number {
  position: absolute;
  bottom: 50px;

  @include mq(660) {
    bottom: 0;
  }

  svg {
    @include mq(660) {
      width: 32px;
    }

    @include mq(480) {
      width: 24px;
    }
  }
}

.testimonials__slider-button-prev {
  right: 200px;
  cursor: pointer;

  @include mq(768) {
    right: 150px;
  }

  @include mq(450) {
    right: 110px;
  }
}

.testimonials__slider-button-next {
  right: 0;
  cursor: pointer;
}

.testimonials__slider-pagination {
  display: none;
}

.testimonials__slider-pagination-number {
  @extend .rufina-32-bold;
  color: $black;
  right: 100px;

  @include mq(768) {
    right: 75px;
  }

  @include mq(660) {
    bottom: 7px;
  }

  @include mq(450) {
    right: 55px;
  }
}

@include mq(1921, min) {
  .testimonials {
    padding: 6.66667vw 0;
  }

  .testimonials__wrapper {
    max-width: 84.67708vw;
    padding: 0 1.25vw;
  }

  .testimonials__slider-item-top {
    max-width: 65.72917vw;
    margin-bottom: 4.47917vw;
    &::after {
      width: 14.6875vw;
      height: 12.1875vw;
    }
  }

  .testimonials__slider-item-bottom-img {
    max-width: 8.85417vw;
    height: 8.85417vw;
    margin-right: 3.125vw;
  }

  .testimonials__slider-item-bottom-name {
    margin-bottom: 0.3125vw;
  }

  .testimonials__slider-button-prev,
  .testimonials__slider-button-next,
  .testimonials__slider-pagination-number {
    bottom: 2.60417vw;
  }

  .testimonials__slider-button-prev {
    right: 10.41667vw;
  }

  .testimonials__slider-pagination-number {
    right: 5.20833vw;
  }
}
