@font-face {
  font-family: "Rufina";
  src: url("../../src/fonts/Rufina-Regular.woff2") format("woff2"),
    url("../../src/fonts/Rufina-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rufina";
  src: url("../../src/fonts/Rufina-Bold.woff2") format("woff2"),
    url("../../src/fonts/Rufina-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../../src/fonts/Lato-Regular.woff2") format("woff2"),
    url("../../src/fonts/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("../../src/fonts/Lato-Bold.woff2") format("woff2"),
    url("../../src/fonts/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.rufina-148-bold {
  font-family: "Rufina";
  font-weight: bold;
  font-style: normal;
  font-size: 148px;
}

.rufina-108-bold,
.section-title {
  font-family: "Rufina";
  font-weight: bold;
  font-style: normal;
  font-size: 108px;
}

.rufina-88-bold {
  font-family: "Rufina";
  font-weight: bold;
  font-style: normal;
  font-size: 88px;
}

.rufina-68-bold {
  font-family: "Rufina";
  font-weight: bold;
  font-style: normal;
  font-size: 68px;
}

.rufina-48-bold {
  font-family: "Rufina";
  font-weight: bold;
  font-style: normal;
  font-size: 48px;
}

.rufina-32-bold {
  font-family: "Rufina";
  font-weight: bold;
  font-style: normal;
  font-size: 32px;
}

.rufina-26-bold {
  font-family: "Rufina";
  font-weight: bold;
  font-style: normal;
  font-size: 26px;
}

.lato-66-bold {
  font-family: "Lato";
  font-weight: bold;
  font-style: normal;
  font-size: 66px;
}

.lato-24-bold {
  font-family: "Lato";
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
}

.lato-24-normal,
.section-text {
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
}

.lato-22-normal {
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
}

.lato-20-normal {
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
}

.lato-18-normal {
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
}

.lato-14-normal {
  font-family: "Lato";
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
}
